<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- Select Filters -->
    <section class="panel panel-default page-form-ele">
        <div class="panel-heading">
          <h3 class="panel-title">Select Filters</h3>
        </div>
        <div class="panel-body" data-ng-controller="DatepickerDemoCtrl">
            <div class="row">
                <div class="col-md-3">
                    Start Date:
                    <div class="input-group ui-datepicker">
                        <input type="text" 
                            class="form-control"
                            datepicker-popup="{{format}}"
                            data-ng-model="dt_start"
                            is-open="opened_start"
                            min="minDate"
                            max="'2015-06-22'"
                            datepicker-options="dateOptions" 
                            date-disabled="disabled(date, mode)"
                            ng-required="true" 
                            close-text="Close">
                        <span class="input-group-addon" data-ng-click="open($event,0)"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-md-3">
                    End Date:
                    <div class="input-group ui-datepicker">
                        <input type="text" 
                            class="form-control"
                            datepicker-popup="{{format}}"
                            data-ng-model="dt_end"
                            is-open="opened_end"
                            min="minDate"
                            max="'2015-06-22'"
                            datepicker-options="dateOptions" 
                            date-disabled="disabled(date, mode)"
                            ng-required="true" 
                            close-text="Close">
                        <span class="input-group-addon" ng-click="open($event,1)"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    School:
                    <span class="ui-select">
                        <select>
                            <option>All</option>
                            <option>Central Carolina CC</option>
                            <option>Bladen CC</option>
                            <option>Durham Technical CC</option>
                        </select>
                    </span>
                  </div>
                  <div class="col-md-3">
                    Department:
                    <span class="ui-select">
                        <select>
                            <option>All</option>
                            <option>Biology</option>
                            <option>Chemistry</option>
                            <option>Math</option>
                            <option>Spanish</option>
                            <option>Writing</option>
                        </select>
                    </span>
                  </div>
                  <div class="col-md-3">
                    Course:
                    <span class="ui-select">
                        <select>
                            <option>All</option>
                            <option>MAT 101</option>
                            <option>MAT 121</option>
                            <option>MAT 161</option>
                            <option>MAT 201</option>
                        </select>
                    </span>
                  </div>
                  <div class="col-md-3">
                    Student:
                    <span class="ui-select">
                        <select>
                            <option>All</option>
                            <option>Student 1</option>
                            <option>Student 2</option>
                            <option>Student 3</option>
                            <option>Student 4</option>
                        </select>
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">  
                    <button type="button" class="btn btn-default" data-ng-click="apply($event)">Apply</button>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Select Filters -->

    <!-- View All Sessions -->
    <section class="page-form-ele page">
        <div class="row">
          <div class="col-md-12">
            <h2>All Session Data</h2>
            <p>View trends in student usage.</p>
          </div>
        </div>
    </section>

    <div class="panel-body" data-ng-controller="flotChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Total Student Use</h3>
            </div>
            <div class="panel-body">
                <div data-flot-chart
                     data-data="line1.data"
                     data-options="line1.options"
                     style="width: 100%; height: 300px;"
                     ></div>
                </div>
            </div>
        </div> 
    </div>
    <section class="page-form-ele page" data-ng-controller="flotChartCtrl">

      <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">All Sessions</h3>
            </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Student</th>
                    <th>Subject</th>
                    <th>Duration</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody data-ng-repeat="session in sessions_all | filter: dt_local_start">
                <tr>
                    <td>{{session.date}}</td>
                    <td>{{session.name}}</td>
                    <td>{{session.subject}}</td>
                    <td>{{session.duration}}</td>
                    <td><span class="label label-{{session.style}}">{{session.status}}</span></td>
                </tr>
            </tbody>
        </table>
      </div>
    </section>
    <!-- End View All Sessions -->

    <!-- Auditable Hours -->
    <section class="page-form-ele page">
        <div class="row">
          <div class="col-md-12">
            <h2>Auditable Data</h2>
            <p>View sessions that were completed in academic courses that are eligible for the FTE audit process.</p>
          </div>
        </div>
    </section>

    <div class="panel-body" data-ng-controller="flotChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Auditable Hours</h3>
            </div>
            <div class="panel-body">
                <div data-flot-chart
                     data-data="line1.data"
                     data-options="line1.options"
                     style="width: 100%; height: 300px;"
                     ></div>
                </div>
            </div>
        </div> 
    </div>

    <section class="page-form-ele page" data-ng-controller="flotChartCtrl">
      <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Auditable Sessions</h3>
            </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Student</th>
                    <th>Subject</th>
                    <th>Duration</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody data-ng-repeat="session in sessions_all | filter: {status:'completed'} ">
                <tr>
                    <td>{{session.date}}</td>
                    <td>{{session.name}}</td>
                    <td>{{session.subject}}</td>
                    <td>{{session.duration}}</td>
                    <td><span class="label label-{{session.style}}">{{session.status}}</span></td>
                </tr>
            </tbody>
        </table>
      </div>
    </section>
    <!-- End Auditable Hours -->

</div>
  
