<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/pages/profile"><i class="fa fa-file-text-o"></i><span data-i18n="My Profile"></span></a></li>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Student Utilization"></span> </a></li>
        <li><a href="#/forms/elements"> <i class="fa fa-pencil"></i><span data-i18n="Education Insights"></span> </a></li>
        <li>
            <a href="#/charts"><i class="fa fa-bar-chart-o"></i><span data-i18n="Reports"></span></a>
            <ul>
                <li><a href="#/charts/flot"><i class="fa fa-caret-right"></i>FTE Reporting <span data-i18n=""></span></a></li>
                <li><a href="#/charts/morris"><i class="fa fa-caret-right"></i>Weekly Reports<span data-i18n=""></span></a></li>
                <li><a href="#/charts/charts"><i class="fa fa-caret-right"></i>Monthly Reports <span data-i18n=""></span></a></li>
            </ul>
        </li>
    </ul>
</div>